---
import Layout from "../layouts/Layout.astro";
import Principal from "../components/Principal.astro";
import Icons from "../components/Icons.astro";
---

<!-- <Layout title="Welcome to Astro." /> -->
<Principal>
  <div class="flex flex-col items-center my-32 h-screen">
    <h1 class="text-9xl font-bold text-white">Sin Palabras</h1>
    <h2 class="text-2xl text-white">La frecuencia que nos une</h2>
  </div>
  <Icons />
</Principal>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
<h1>dfdf</h1>
