---
import Layout from "../layouts/Layout.astro";
import Principal from "../components/Principal.astro";
import Icons from "../components/Icons.astro";
import Staff from "../components/Staff.astro";
import Programacion from "../components/Programacion.astro";
import Cafesito from "../components/Cafesito.astro";
import Historial from "../components/Historial.astro";
import Footer from "../components/Footer.astro";
---

<!-- <Layout title="Welcome to Astro." /> -->
<Principal>
  <div class="flex flex-col items-center my-32 h-screen">
    <h1 class="text-9xl font-bold text-white">Sin Palabras</h1>
    <h2 class="text-2xl text-white">La frecuencia que nos une</h2>
  </div>
  <Icons />
</Principal>
<Staff />
<Programacion />
<Cafesito />
<Historial />
<Footer />
