---
import MercadoPago from "./icons/MercadoPago.astro";
import Cafesito from "./icons/Cafesito.astro";
---

<section class="flex flex-col items-center py-40">
  <section class="text-gray-600 body-font">
    <div
      class="container mx-auto flex px-5 py-24 lg:flex-row md:flex-col items-center"
    >
      <div class="mb-10 md:mb-0">
        <img
          class="object-cover object-center rounded-md"
          alt="hero"
          src="/Sinpa.jpeg"
        />
      </div>
      <div
        class="lg:mx-12 flex flex-col md:items-start md:text-left items-center text-center"
      >
        <h1
          class="my-8 title-font lg:text-4xl md:text-6xl mb-4 font-medium text-gray-900"
        >
          Ayudanos con un
          <a href="https://cafecito.app/gaiajuventud" target="_blank">
            <span class="text-blue-800">Cafesito</span>
          </a>
        </h1>
        <p class="my-8 lg:text-3xl md:text-5xl mb-8 leading-relaxed">
          Tu ayuda nos permite seguir creciendo y ofreciendo contenido de
          calidad.
        </p>
        <a href="https://cafecito.app/gaiajuventud" target="_blank">
          <div class="flex flex-row content-center items-center">
            <MercadoPago />
            <Cafesito />
          </div>
        </a>
      </div>
    </div>
  </section>
</section>
