---
---

<section
  class="bg-[url('/youtubewave.svg')] bg-no-repeat bg-cover flex flex-col items-center min-h-screen"
  style="clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 100%);"
>
  <h4 class="text-6xl text-white mt-32">Te lo perdiste?</h4>
  <h4 class="text-2xl text-white mt-8">
    Podes mirar programas anteriores en nuestro canal de Youtube
  </h4>
</section>
