---
import Principal from "./Principal.astro";
import Icons from "./Icons.astro";
import Title from "./Title.astro";
import Subtitle from "./Subtitle.astro";
import MainDesktop from "./MainDesktop.astro";
import MainMobile from "./MainMobile.astro";
import LiveBanner from "./LiveBanner.astro";
---

<Principal>
  <div class="flex flex-col items-center mt-24 mb-32">
    <Title />
    <Subtitle />
    <LiveBanner />
    <MainDesktop />
    <!-- <MainMobile /> -->
  </div>
  <Icons />
</Principal>
