---
import Principal from "./Principal.astro";
import Icons from "./Icons.astro";
import Title from "./Title.astro";
import Subtitle from "./Subtitle.astro";
import Live from "./Live.astro";
---

<Principal>
  <div
    class="container flex justify-center lg:items-center pt-32 min-h-screen mx-auto"
  >
    <section>
      <div class="flex flex-row lg:flex-row md:flex-col justify-center">
        <div>
          <h1
            class="lg:text-8xl md:text-9xl text-gray-200 font-semibold p-2 md:my-8"
          >
            Sin Palabras
          </h1>
          <h2
            class="lg:text-4xl md:text-6xl text-gray-200 leading-loose font-semibold p-2 md:my-8"
          >
            El programa de radio de los <br />
            <span class="text-[#eab308]"
              ><span class="uppercase">jovenes</span>
            </span>
            de Gaia
          </h2>
          <p class="lg:text-xl md:text-5xl text-gray-200 py-4 px-2 md:my-5">
            Un programa de amigos para amigos
          </p>
          <a
            class="inline-bock"
            href="https://www.youtube.com/@juventudgaia/streams"
            target="_blank"
          >
            <div class="flex flex-row py-3 px-2 my-5">
              <div class="bg-gray-200 py-2 px-4 rounded-l-md">
                <p class="lg:text-lg md:text-4xl">Ver emisiones</p>
              </div>
              <div class="py-1 px-3 rounded-r-md border-2 text-white">icon</div>
            </div>
          </a>
        </div>
        <div class="flex justify-center">
          <img src="assets/four-img.png" alt="" class="w-full" />
        </div>
      </div>
    </section>
  </div>
  <Icons />
</Principal>
