---
import Youtube from "./icons/Youtube.astro";
---

<section
  class="bg-[#1A2C5E] pb-40 flex flex-col items-center"
  style="clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 100%);"
>
  <h4 class="text-6xl text-white lg:mt-32 md:mt-48">Programaci&oacuten</h4>
  <div class="my-12 overflow-x-auto relative sm:rounded-lg">
    <table class="table-auto text-sm text-center text-gray-500">
      <thead class="text-xs text-white uppercase">
        <tr class="">
          <th
            scope="col"
            class="py-3 px-16 border-y border-gray-600 bg-gradient-to-r from-transparent to-gray-800"
          ></th>
          <th scope="col" class="py-3 px-6 border-y border-gray-600 bg-gray-800"
            >Jueves</th
          >
          <th scope="col" class="py-3 px-6 border-y border-gray-600 bg-gray-800"
            >Viernes</th
          >
          <th scope="col" class="py-3 px-6 border-y border-gray-600 bg-gray-800"
            >S&aacutebado</th
          >
          <th scope="col" class="py-3 px-6 border-y border-gray-600 bg-gray-800"
            >Domingo</th
          >
          <th scope="col" class="py-3 px-6 border-y border-gray-600 bg-gray-800"
            >Lunes</th
          >
          <th
            scope="col"
            class="py-3 px-16 border-y border-gray-600 bg-gradient-to-r from-gray-800 to-transparent"
          ></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="py-4 px-6 bg-gradient-to-r from-transparent to-gray-800"
          ></td>

          <td class="py-4 px-6 bg-gray-800"></td>
          <td class="py-4 px-6 bg-gray-800"></td>
          <td class="py-4 px-6 text-righ bg-gray-800">
            <a href="#" class="font-medium">
              <div>
                <div class="p-8 rounded-md flex flex-col items-center text-md">
                  <span class="text-lg text-white">Sabados</span>
                  <span class="text-2xl text-white">20:30</span>
                  <br />
                  <Youtube />
                </div>
              </div>
            </a>
          </td>
          <td class="py-4 px-6 bg-gray-800"></td>
          <td class="py-4 px-6 bg-gray-800"></td>
          <td class="py-4 px-6 bg-gradient-to-r from-gray-800 to-transparent"
          ></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
