<section>
  <div class="bg-gradient-radial min-h-screen">
    <h2 class="text-white text-center lg:text-6xl md:text-8xl">
      De que hablamos?
    </h2>
    <div class="flex flex-row py-5 mx-12 flex-wrap">
      <span
        class="border-2 bg-white py-3 px-5 rounded-full lg:text-sm md:text-4xl font-bold mx-2 cursor-pointer hover:bg-slate-400 hover:border-2 hover:border-slate-400"
        >Deportes</span
      >
      <span
        class="border-2 bg-white py-3 px-5 rounded-full lg:text-sm md:text-4xl font-bold mx-2 cursor-pointer hover:bg-slate-400 hover:border-2 hover:border-slate-400"
        >Deportes</span
      ><span
        class="border-2 bg-white py-3 px-5 rounded-full lg:text-sm md:text-4xl font-bold mx-2 cursor-pointer hover:bg-slate-400 hover:border-2 hover:border-slate-400"
        >Deportes</span
      ><span
        class="border-2 bg-white py-3 px-5 rounded-full lg:text-sm md:text-4xl font-bold mx-2 cursor-pointer hover:bg-slate-400 hover:border-2 hover:border-slate-400"
        >Deportes</span
      ><span
        class="border-2 bg-white py-3 px-5 rounded-full lg:text-sm md:text-4xl font-bold mx-2 cursor-pointer hover:bg-slate-400 hover:border-2 hover:border-slate-400"
        >Deportes</span
      ><span
        class="border-2 bg-white py-3 px-5 rounded-full lg:text-sm md:text-4xl font-bold mx-2 cursor-pointer hover:bg-slate-400 hover:border-2 hover:border-slate-400"
        >Deportes</span
      ><span
        class="border-2 bg-white py-3 px-5 rounded-full lg:text-sm md:text-4xl font-bold mx-2 cursor-pointer hover:bg-slate-400 hover:border-2 hover:border-slate-400"
        >Deportes</span
      >
    </div>
  </div>
</section>
